@media screen and (max-width: 769px) {
	.header {
		height: auto;
		position: initial;
	}

	.header__item__logo {
		width: 85px;
		display: flex;
		align-items: center;
	}

	.navbar {
		display: flex;
		align-items: center;
	}

	.navbar__menu {
		display: flex;
		text-align: center;
	}

	.navbar__menu li {
		margin-right: 0;
		margin-left: 8px;
	}

	.navbar__menu li a {
		font-size: 14px;
	}

	.header__item__reservas {
		display: none;
	}


	.main__image {
		background-size: cover;
		background-position: center center;
		background-attachment: initial;
		width: 100%;
		height: 20vh;
	}

	.main__section {
		padding: 50px 20px;
	}

	.main__section__content--grid {
		grid-template-columns: 1fr;
	}

	.main__section__content__contact__columns {
		grid-template-columns: 1fr;
	}

	.main__section__content__contact__columns__column {
		padding: 30px 15px;
	}

	.main__section__content__galery {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 0.75em;
		grid-template-areas: none;
	}

	.galery__item--1 {
		grid-area: unset;
	}

	.galery__item--2 {
		grid-area: unset;
	}

	.galery__item--3 {
		grid-area: unset;
	}

	.galery__item--4 {
		grid-area: unset;
	}

	.galery__item--5 {
		grid-area: unset;
	}

	.galery__item--6 {
		grid-area: unset;
	}

	.galery__item--7 {
		grid-area: unset;
	}

	.galery__item--8 {
		grid-area: unset;
	}

	.galery__item--9 {
		grid-area: unset;
	}

	.galery__item--10 {
		grid-area: unset;
	}
}