* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: $primary-font;
	color: $grey;
}

a {
	text-decoration: none;
}
ul, li{
	padding-left: 0;
}

html {
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
}